<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="Listers.listeners"/>
    </listeners>

    <test  name="Real device">
        <parameter name="platformName" value="Android"/>
        <parameter name="deviceName" value="Redmi 11 prime"/>
        <parameter name="udid" value="emulator-5554"/>
                <parameter name="systemPort" value="8210"/>
                <parameter name="chromeDriverPort" value="11001"/>
<!--&lt;!&ndash;                <parameter name="server" value="http://0.0.0.0:4723/wd/hub"/>&ndash;&gt;-->
        <classes>
            <class name="tests.LoginTests"/>
<!--            <class name="tests.Productype"/>-->
<!--            <class name="tests.Productype_Fail"/>-->
        </classes>
    </test>
<!--    <test name="Emulator">-->
<!--        <parameter name="platformName" value="Android"/>-->
<!--        <parameter name="deviceName" value="Any device name"/>-->
<!--        <parameter name="udid" value="df5a1e5e"/>-->
<!--                <parameter name="systemPort" value="8211"/>-->
<!--                <parameter name="chromeDriverPort" value="11001"/>-->
<!--&lt;!&ndash;                <parameter name="server" value="http://0.0.0.0:4724/wd/hub"/>&ndash;&gt;-->
<!--        <classes>-->
<!--            <class name="tests.LoginTests"/>-->
<!--            <class name="tests.Productype"/>-->
<!--            <class name="tests.Productype_Fail"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test  name="Real1 device">-->
<!--        <parameter name="platformName" value="Android"/>-->
<!--        <parameter name="deviceName" value="Test Devices"/>-->
<!--        <parameter name="udid" value="df5a1e5e"/>-->
<!--        <parameter name="systemPort" value="8211"/>-->
<!--        <parameter name="chromeDriverPort" value="11001"/>-->
<!--        &lt;!&ndash;                <parameter name="server" value="http://0.0.0.0:4723/wd/hub"/>&ndash;&gt;-->
<!--        <classes>-->
<!--            <class name="tests.LoginTests"/>-->
<!--            <class name="tests.Productype"/>-->
<!--            <class name="tests.Productype_Fail"/>-->
<!--        </classes>-->
<!--    </test>-->
    <!-- test -->
</suite>